@(menu: String)(implicit messages: Messages)

@import helper._

@main("Rent manager", menu) {

	<script type='text/javascript'src='@routes.Assets.at("javascripts/contract.js")'></script>
	<script>
		$(document).ready(function(){

			var propertyDialog = $( "#property-dialog-form" ).dialog({
			  autoOpen: false,
			  height: 400,
			  width: 550,
			  modal: true,
			  buttons: {
				"Select Person": function() {
					$("#propertyId").val(($('input[name=propertyGroup]:checked'	).val()));
					propertyDialog.dialog( "close" );
				},
				Cancel: function() {
				  propertyDialog.dialog( "close" );
				}
			  },
			  close: function() {

			  }
			});

			$( "#select-property" ).button().on( "click", function() {
			  	propertyDialog.dialog( "open" );
			  	event.preventDefault();
			});
		});
	</script>

	<div class="container" ng-app="contractApp" ng-controller="ContractList">
		<h3>Contract Data</h3>
		<div class="row">
			<div class='col'>
				<div class="modal fade" id="personModal" role="dialog">
					<div class="modal-dialog">
						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Person Table</h4>
							</div>
							<div class="modal-body">
								<div class="table-responsive">
									<table class="table table-bordered table table-fixed">
										<thead>
										<tr>
											<th></th>
											<th>Name</th>
											<th>Email</th>
											<th>Passport Number/ID</th>
										</tr>
										</thead>
										<tbody class="member">
										<tr ng-repeat="person in selectPersonTable">
											<td><input type="radio" value="{{person.id}}" name="personGroup" ng-model="selectedPerson" ng-click="setPerson(person)"/></td>
											<td>{{person.name + ' ' + person.lastname}}</td>
											<td>{{person.email}}</td>
											<td>{{person.passport}}</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Select Person</button>
							</div>
						</div>

					</div>
				</div>




				<div class="modal fade" id="propertyModal" role="dialog">
					<div class="modal-dialog">
						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Property Table</h4>
							</div>
							<div class="modal-body">
								<div class="table-responsive">
									<table class="table table-bordered table table-fixed">
										<thead>
										<tr>
											<th></th>
											<th>Code</th>
											<th>Line1</th>
											<th>Line2</th>
											<th>Line3</th>
											<th>Zip Code</th>
										</tr>
										</thead>
										<tbody class="member">
										<tr ng-repeat="property in selectPropertyTable">
											<td><input type="radio" value="{{property.id}}" name="propertyGroup" ng-model="selectedProperty" ng-click="setProperty(property)"/></td>
											<td>{{property.code}}</td>
											<td>{{property.line1}}</td>
											<td>{{property.line2}}</td>
											<td>{{property.line3}}</td>
											<td>{{property.zipcode}}</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Select Property</button>
							</div>
						</div>

					</div>
				</div>

				<div class="row">
					<div class="col">
						<form name="contractForm" data-toggle="validator" role="form">

							<div class="buttons">
								<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#personModal">Select Person</button>
							</div>
							<input type="text" readonly class="form-control" ng-model="selectedPerson.name" size="20" required/>
							<input type="hidden" id="personId" name="personId" ng-model="selectedPerson.id" required/>

							<div class="buttons">
								<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#propertyModal">Select Property</button>
							</div>
							<input type="text" readonly class="form-control" ng-model="selectedProperty.code" size="20" required/>
							<input type="hidden" id="propertyId" name="propertyId" ng-model="selectedProperty.id" required/>

							Begin Date
							<input type="text" id="beginDate" name="beginDate" ng-model="beginDate" class="datepicker form-control" size="7" required/>
							End Date
							<input type="text" id="endDate" name="endDate" ng-model="endDate" class="datepicker form-control" size="7" required/>
							Number of Advances
							<select ng-model="numberAdvances" class="form-control" required>
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
							Advance Amount
							<input type="text" id="rentAmount" name="rentAmount" type="number" ng-model="rentAmount" class="form-control" size="7" required/>
							Number of Deposits
							<select ng-model="numberDeposits" class="form-control" required>
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
							Deposit Amount
							<input type="text" id="depositAmount" name="depositAmount" type="number" ng-model="depositAmount" class="form-control" size="7" required/>
							Notes
							<input type="text" id="notes" name="notes" ng-model="notes" class="form-control" size="7" required/>

							<div class="input-group">
								<span class="input-group-btn">
									<div class="buttons col-md-8 h3">
										<button id="createContract" ng-click="contractForm.$valid && insertContract();" class="btn btn-success">Add Contract</button>
									</div>
								</span>
								<div ng-show="success" class="alert alert-success col-md-3 h5" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="closeSuccess();">
										<span aria-hidden="true">&times;</span>
									</button>
									<p>Successful operation.</p>
								</div>
								<div ng-show="fail" class="alert alert alert-danger col-md-3 h5" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="closeFail();">
										<span aria-hidden="true">&times;</span>
									</button>
									<p>Unexpected error occurred.</p>
								</div>
							</div>
						</form>
					</div>

					<table class="table table-bordered table table-fixed">
						<thead>
						<tr>
							<th></th>
							<th>Person</th>
							<th>Passport</th>
							<th>Property</th>
							<th>Begin Date</th>
							<th>End Date</th>
						</tr>
						</thead>
						<tbody class="member">
						<tr ng-repeat="contract in contractList">
							<td><button  ng-click="removeContract(contract)" class="btn btn-success btn-sm">Remove</button></td>
							<td>{{contract.personName}}</td>
							<td>{{contract.passport}}</td>
							<td>{{contract.propertyCode}}</td>
							<td>{{contract.beginDate}}</td>
							<td>{{contract.endDate}}</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
}
